@font-face {
   font-family: font;
   src: url(../fonts/CourierPrime.ttf);
}
*{
   font-family: 'font';
   padding:0;
   margin:0;
}
body{
  background: rgba(255, 255, 255, 0) url("../images/memphis-mini-NOdark.png") repeat scroll 0% 0%;
  color: #000000;
}
#detailData{
  width: 75%;
  margin-left: 12.5%;
  margin-top: 50px;
}
#detailData #detailDataContainer{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}
#detailData #detailDataContainer img{
  width: 40%;
  margin-right: 30px;
}
#detailData #detailDataContainer #detailContent{
  width: 60%;
}
#detailData #detailDataContainer #detailContent h1{
  color: #000000;
  margin: 10px 8px;
}
#detailData #detailDataContainer #detailContent #detailTextData{
	border-bottom: 1px solid #000000;
	margin-bottom: 20px;
}
#detailData #detailDataContainer #detailContent #detailTextData h2{
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 5px;
}
#detailData #detailDataContainer #detailContent #detailTextData p{
	display: inline-block;
	margin-bottom: 10px;
}
#detailData #detailDataContainer #detailContent #detailTextData p#detailDate{
	margin-right: 30px;
}
#detailData #detailDataContainer #detailContent #detailTextData p span{
	margin-right: 10px;
}
#detailData #close{
  position: absolute;
  top: -20px;
  right: -10px;
  font-size: 45px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background: #000;
  border:solid 2px #fff;
  padding: 35px 25px 0px 25px;
  border-radius: 50%;
  transform: rotate(20deg);
}
#detailData #close:hover{
  color:#000;
  background: #fff;
  border:solid 2px #000;
}

@media only screen and (max-width: 992px) {
  #detailData{
    width: 90%;
    margin: 25px 0 50px 0;
    margin-left: 5%;
  }
}
@media only screen and (max-width: 768px) {
  #detailData #detailDataContainer{
    flex-direction: column;
  }
  #detailData #detailDataContainer img, #detailData #detailDataContainer #detailContent{
    width: 95%;
    margin-left: 2.5%;
  }
}
